#wrapper {
	height: 1070px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	background-image: url(cream_plaster.jpg);
	
	
}

#header {
	height: 140px;
	width: 1000px;
	background-color: #fff;
	background-image: url(temporary_logo.png);
		
}

#navigation {
	
	height: 70px;
	width: 970px;
	background-color: #000;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
	padding-left: 30px;


}


#content {
	height: auto;
	width: 1000px;
	text-align: center;
	color: #000;
    position: relative;
	background-image: url(cream_plaster.jpg);
	font-family: "Arial Black", Gadget, sans-serif;
	font-style: normal;
	font-size: 20px;
	
	
}

#footer {
	
	height: 20px;
	width: 1000px;
	color: #FFF;
	background-color: #000;
	text-align: center;
	font-family: "Arial Black", Gadget, sans-serif;
	font-style: normal;
	font-size: 15px;
	
}

.img-with-text {
    text-align: center;
    width: 300px;
    font-size: 10px;
    
}

.img-with-text img {
    display: block;
    margin: 0 auto;
    padding-left: 0px;
}


